.right-nav-bar-child {
  top: 7px;
  border-radius: var(--br-xl);
  height: 39px;
  display: none;
}
.right-nav-bar,
.right-nav-bar-child,
.right-nav-bar-item {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.right-nav-bar {
  height: calc(100% - 1px);
  top: 1px;
  bottom: 0;
  background-color: var(--color-darkslategray-100);
}
.right-nav-bar-item {
  top: 0;
  background-color: var(--color-deepskyblue-400);
  height: 39px;
}
.right-nav-bar1,
.right-nav1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.right-nav-bar1 {
  height: 100%;
  top: 0;
  background-color: var(--color-deepskyblue-300);
}
.right-nav1 {
  height: calc(100% - 1px);
  top: 1px;
}
.recent {
  margin: 0;
}
.recent-draw {
  position: absolute;
  bottom: 1px;
  left: calc(50% - 17.5px);
}
.recent-draw-wrapper {
  position: absolute;
  height: calc(100% - 5px);
  top: 5px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-deepskyblue-400);
  width: 85px;
  text-align: center;
}
.dragon1 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 17.5px);
}
.dragon-wrapper {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 86px);
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-deepskyblue-200);
  width: 85px;
  font-size: var(--font-size-2xs);
}
.trend {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 15.5px);
}
.trend-wrapper {
  position: absolute;
  height: calc(100% - 5px);
  top: 5px;
  bottom: 0;
  left: calc(50% + 1px);
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-deepskyblue-400);
  width: 85px;
}
.recent-bet {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 28.5px);
}
.recent-bet-wrapper {
  position: absolute;
  height: calc(100% - 5px);
  top: 5px;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-deepskyblue-400);
  width: 85px;
}
.group-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 346px;
  height: 40px;
}
.current {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 23px);
}
.current-wrapper {
  height: calc(100% - 6px);
  top: 3px;
  bottom: 3px;
  left: 2px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 110px;
}
.current-wrapper,
.d,
.d-wrapper {
  position: absolute;
}
.d {
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}
.d-wrapper {
  height: calc(100% - 6px);
  top: 3px;
  bottom: 3px;
  left: calc(50% - 129.5px);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 110px;
}
.customgames-container {
  position: absolute;
  top: 5px;
  left: 6px;
  white-space: pre-wrap;
}
.customgames-wrapper {
  position: absolute;
  height: calc(100% - 6px);
  top: 3px;
  bottom: 3px;
  left: calc(50% - 17.5px);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 110px;
}
.row-draw {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 31px);
}
.row-draw-wrapper {
  position: absolute;
  height: calc(100% - 6px);
  top: 3px;
  right: 39px;
  bottom: 3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 110px;
}
.path-36-icon {
  position: absolute;
  height: calc(100% - 11.11px);
  width: calc(100% - 6.91px);
  top: 5.71px;
  right: 3.68px;
  bottom: 5.41px;
  left: 3.23px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.drop-down-button {
  position: absolute;
  top: calc(50% - 7px);
  right: 13px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
}
.right-line-in {
  position: absolute;
  width: 100%;
  top: 40px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-deepskyblue-200);
}
.path-50-icon,
.right-nav {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.right-nav {
  position: absolute;
  top: 0;
  left: 0;
}
.path-50-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lucky-4d,
.path-50-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.lucky-4d-parent,
.oe-1st-odd {
  position: absolute;
}
.oe-1st-odd {
  bottom: 0;
  left: 0;
}
.lucky-4d-parent {
  height: calc(100% - 5px);
  top: 2px;
  bottom: 3px;
  left: 18px;
  width: 74px;
}
.div,
.row-11-draw {
  position: absolute;
  top: calc(50% - 8px);
}
.row-11-draw {
  left: calc(50% - 59.5px);
}
.div {
  left: calc(50% + 112.5px);
}
.path-36-icon1 {
  position: absolute;
  height: calc(100% - 6.91px);
  width: calc(100% - 11.11px);
  top: 3.54px;
  right: 5.12px;
  bottom: 3.37px;
  left: 5.99px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.drop-down-button1 {
  position: absolute;
  top: calc(50% - 8px);
  right: 17.28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  transform: rotate(270deg);
}
.path-50-container,
.path-50-group {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36px;
}
.path-50-parent {
  top: 0;
}
.path-50-parent,
.path-50-parent1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36px;
}
.path-50-group {
  top: 37px;
}
.path-50-container {
  top: 74px;
}
.path-50-parent1 {
  top: 111px;
}
.path-50-parent2 {
  top: calc(50% - 296px);
}
.path-50-parent2,
.path-50-parent3,
.path-50-parent4,
.path-50-parent5 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36px;
}
.path-50-parent3 {
  top: calc(50% - 259px);
}
.path-50-parent4 {
  top: calc(50% - 222px);
}
.path-50-parent5 {
  top: calc(50% - 185px);
}
.path-50-parent6 {
  top: calc(50% - 148px);
}
.path-50-parent6,
.path-50-parent7,
.path-50-parent8,
.path-50-parent9 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36px;
}
.path-50-parent7 {
  top: calc(50% - 111px);
}
.path-50-parent8 {
  top: calc(50% - 74px);
}
.path-50-parent9 {
  top: calc(50% - 37px);
}
.path-50-parent10 {
  top: calc(50% - 0px);
}
.path-50-parent10,
.path-50-parent11,
.path-50-parent12,
.path-50-parent13 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36px;
}
.path-50-parent11 {
  top: calc(50% + 37px);
}
.path-50-parent12 {
  top: calc(50% + 74px);
}
.path-50-parent13 {
  top: calc(50% + 111px);
}
.path-50-parent14 {
  top: calc(50% + 148px);
}
.path-50-parent14,
.path-50-parent15,
.path-50-parent16,
.path-50-parent17 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36px;
}
.path-50-parent15 {
  top: calc(50% + 185px);
}
.path-50-parent16 {
  top: calc(50% + 222px);
}
.path-50-parent17 {
  top: calc(50% + 259px);
}
.path-50-parent18 {
  bottom: 112px;
}
.path-50-parent18,
.path-50-parent19,
.path-50-parent20,
.path-50-parent21 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  height: 36px;
}
.path-50-parent19 {
  bottom: 75px;
}
.path-50-parent20 {
  bottom: 38px;
}
.path-50-parent21 {
  bottom: 1px;
}
.repeat-grid-15 {
  position: absolute;
  height: calc(100% - 98px);
  width: calc(100% - 2px);
  top: 90px;
  right: 0;
  bottom: 8px;
  left: 2px;
  font-size: var(--font-size-sm);
}
.right-nav-bar-parent {
  position: absolute;
  top: -1px;
  left: 0;
  width: 487px;
  height: 986px;
  mix-blend-mode: normal;
}
.dragon {
  position: relative;
  width: 487px;
  height: 985px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
