.right-nav-bar-inner {
  top: 7px;
  border-radius: var(--br-xl);
  height: 39px;
  display: none;
}
.rectangle-div,
.right-nav-bar-inner,
.right-nav-bar2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.right-nav-bar2 {
  height: calc(100% - 1px);
  top: 1px;
  bottom: 0;
  background-color: var(--color-darkslategray-100);
}
.rectangle-div {
  top: 0;
  background-color: var(--color-deepskyblue-400);
  height: 39px;
}
.right-nav-bar3,
.right-nav3 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.right-nav-bar3 {
  height: 100%;
  top: 0;
  background-color: var(--color-deepskyblue-300);
}
.right-nav3 {
  height: calc(100% - 1px);
  top: 1px;
}
.recent1 {
  margin: 0;
}
.recent-draw1 {
  position: absolute;
  bottom: 1px;
  left: calc(50% - 17.5px);
}
.recent-draw-container {
  position: absolute;
  height: calc(100% - 5px);
  top: 5px;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-deepskyblue-400);
  width: 85px;
  text-align: center;
}
.dragon2 {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 17.5px);
}
.dragon-container {
  position: absolute;
  height: calc(100% - 5px);
  top: 5px;
  bottom: 0;
  left: calc(50% - 86px);
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-deepskyblue-400);
  width: 85px;
  font-size: var(--font-size-2xs);
}
.trend2 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 15.5px);
}
.trend-container {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% + 1px);
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-deepskyblue-200);
  width: 85px;
}
.recent-bet1 {
  position: absolute;
  top: calc(50% - 5.5px);
  left: calc(50% - 28.5px);
}
.recent-bet-container {
  position: absolute;
  height: calc(100% - 5px);
  top: 5px;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-deepskyblue-400);
  width: 85px;
}
.group-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 346px;
  height: 40px;
}
.current1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 23px);
}
.current-container {
  position: absolute;
  height: calc(100% - 6px);
  top: 3px;
  bottom: 3px;
  left: 2px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 110px;
}
.d1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
}
.d-container {
  position: absolute;
  height: calc(100% - 6px);
  top: 3px;
  bottom: 3px;
  left: calc(50% - 129.5px);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 110px;
}
.customgames-container1 {
  position: absolute;
  top: 5px;
  left: 6px;
  white-space: pre-wrap;
}
.customgames-frame {
  position: absolute;
  height: calc(100% - 6px);
  top: 3px;
  bottom: 3px;
  left: calc(50% - 17.5px);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 110px;
}
.row-draw1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 31px);
}
.row-draw-container {
  position: absolute;
  height: calc(100% - 6px);
  top: 3px;
  right: 39px;
  bottom: 3px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-100);
  width: 110px;
}
.path-36-icon25 {
  position: absolute;
  height: calc(100% - 11.11px);
  width: calc(100% - 6.91px);
  top: 5.71px;
  right: 3.68px;
  bottom: 5.41px;
  left: 3.23px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.drop-down-button25 {
  position: absolute;
  top: calc(50% - 7px);
  right: 13px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-200);
  border: 0.5px solid var(--color-white);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
}
.right-line-in1,
.right-nav2 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.right-line-in1 {
  top: 40px;
  background-color: var(--color-whitesmoke);
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-deepskyblue-200);
}
.right-nav2 {
  height: 100%;
  top: 0;
  bottom: 0;
}
.right-nav-bar-group {
  position: absolute;
  top: -1px;
  left: 0;
  width: 487px;
  height: 986px;
  mix-blend-mode: normal;
}
.trend1 {
  position: relative;
  width: 487px;
  height: 985px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
